@model IEnumerable<ergo_web2_2023.Areas.Administrator.ViewModels.QuestionVM>

@{
    ViewData["Title"] = "ListAllQuestions";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="quick-actions">
    <h3>Quick Actions</h3>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-2" onclick="location.href='@Url.Action("CreateQuestion", "Question", new { area = "Administrator" })';" style="cursor: pointer;">
            <div class="card text-center">
                <div class="card-body fw-bold">
                    <p>
                        <h3 class="plus">+</h3>
                        <span>Create Question</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="content-title">
        <h3>All Questions</h3>
    </div>
    <div class="row content-cards">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                <div class="card content-card">
                    <div class="card-body">
                        <h5 class="formtitle">@Html.DisplayFor(modelItem => item.Title)</h5>
                        @if (item.Description == null)
                        {
                            <p class="description">Geen Description</p>
                        }
                        else
                        {
                            <p class="description">Desc.: @Html.DisplayFor(modelItem => item.Description)</p>
                        }
                        @if (item.Type == 1)
                        {
                            <p class="description">Type: Open vraag</p>
                        }
                        else
                        {
                            <p class="description">Type: Meerkeuzevraag</p>
                        }
                    </div>
                    <div class="actions">
                        <a asp-action="EditQuestion" asp-route-id="@item.QuestionId"><img height="30px" src="~/images/edit.png" /></a> |
                        <a asp-action="Delete" asp-route-id="@item.QuestionId"><img height="30px" src="~/images/delete.png" /></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
